<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width" />*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar container navbar-expand-lg navbar-dark bg-primary">
        @Html.ActionLink("SOLUTION FINDER", "Index", "StartPage", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapsed" id="navbar1" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { onclick = "changeActive(this)", @class = "nav-link" })
                </li>
                    
                <li class="nav-item">
                    @Html.ActionLink("Search", "Index", "Search", new { area = "" }, new { onclick = "changeActive(this)", @class = "nav-link" })
                </li>
            </ul>
            <span class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        @Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { onclick = "changeActive(this)", @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Register", "Index", "Register", new { area = "" }, new { onclick = "changeActive(this)", @class = "nav-link" })
                    </li>
                </ul>

            </span>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Solution Finder</p>
        </footer>
    </div>

</body>
</html>

@section scripts
{
    @Scripts.Render("~/bundles/customBundle")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}