@model CassandraDataLayer.QueryEntities.Tema

<div class="card text-white bg-primary mb-3 p-2 m-3" style="max-width: 100rem; max-height: 40rem; ">
    <div class="card-header">
        <h4 class="card-title"> @Html.DisplayFor(model => model.naslov)</h4>
        @{
            CassandraDataLayer.QueryEntities.Korisnik korisnik1 = @CassandraDataLayer.DataProvider.VratiKorisnika(Model.korisnikID);
            CassandraDataLayer.QueryEntities.Delatnost d = @CassandraDataLayer.DataProvider.VratiDelatnost(Model.delatnostID);

        }
        @using (Html.BeginForm("Korisnik", "KorisnikView", FormMethod.Post))
        {
            <input style="visibility:hidden; position:absolute;" type="text" name="iden" value="@korisnik1.korisnikID" />
            <input type="submit" value="@korisnik1.ime  @korisnik1.prezime" class="page-link m-1" />
        }
        @using (Html.BeginForm("ViewDelatnost", "Delatnost", FormMethod.Post))
        {
            <input style="visibility:hidden;  position:absolute;" type="text" name="iden" value="@d.delatnostID" />
            <input type="submit" value="@d.naziv" class="page-link m-1" />
        }
    </div>
    <div class="card-body bg-secondary m-1" style="overflow:scroll; max-height: 15rem;">
        <p class="bg-secondary text-dark"> @Html.DisplayFor(model => model.sadrzaj)</p>
    </div>
    @if (Model.komentari.Count > 0)
    {
        <div class="card-body bg-secondary m-1" style="overflow:scroll; max-height: 15rem;">
            <h2>KOMENTARI</h2>
            @foreach (KeyValuePair<string, IEnumerable<string>> kv in Model.komentari)
            {
                CassandraDataLayer.QueryEntities.Korisnik k = CassandraDataLayer.DataProvider.VratiKorisnika(kv.Key);
                <div class="card text-white bg-primary mb-3 p-2 m-3">
                    <div class="card-header">
                        @k.ime  @k.prezime
                        @if (CassandraDataLayer.DataStore.GetInstance().GetKorisnik()!= null && k.korisnikID == CassandraDataLayer.DataStore.GetInstance().GetKorisnik().korisnikID)
                        {
                            <span class="form-inline my-2 my-lg-0">
                                @using (Html.BeginForm("DeleteComment", "Post", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input style="visibility:hidden; position:absolute;" name="delatnostID" value="@Model.delatnostID"></input>
                                    <input style="visibility:hidden; position:absolute;" name="korisnikID" value="@Model.korisnikID"></input>
                                    <input style="visibility:hidden; position:absolute;" name="temaID" value="@Model.temaID"></input>
                                    <input style="visibility:hidden; position:absolute;" name="komKorisnikID" value="@CassandraDataLayer.DataStore.GetInstance().GetKorisnik().korisnikID"></input>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Delete" class=" btn btn-light" />
                                        </div>
                                    </div>
                                }
                            </span>
                        }
                    </div>
                    @foreach (string s in kv.Value)
                    {
                        <div class="card-body bg-secondary">
                            <p class="text-dark"> @s</p>
                        </div>
                    }
                </div>
            }
        </div>
    }

    @if (CassandraDataLayer.DataStore.GetInstance().GetKorisnik() != null)
    {
        <div class="card-body bg-primary m-1">
            @using (Html.BeginForm("AddComment", "Post", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <textarea style="" name="komentar"></textarea>
                <input style="visibility:hidden; position:absolute;" name="delatnostID" value="@Model.delatnostID"></input>
                <input style="visibility:hidden; position:absolute;" name="korisnikID" value="@Model.korisnikID"></input>
                <input style="visibility:hidden; position:absolute;" name="temaID" value="@Model.temaID"></input>
                <input style="visibility:hidden; position:absolute;" name="komKorisnikID" value="@CassandraDataLayer.DataStore.GetInstance().GetKorisnik().korisnikID"></input>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add Comment" class=" btn btn-light" />
                    </div>
                </div>
            }
        </div>
    }


</div>

